<html>
    <head>
        <title>OAuth Example app</title>
         <link rel="stylesheet" href="/static/bower_components/bootstrap-social/bootstrap-social.css">
         <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css">
         <link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.css">
         <script src="/static/bower_components/jquery/dist/jquery.js"></script>
    </head>
    <body>
        <script src="/static/js/facebookAuthStatus.js"></script>
        <script>runCheckingStatus()</script>


        <div class="col-sm-4">
        <h1>Preloader</h1>
        </div>
    </body>
</html>